<h1>Team <%= @team_name %></h1>
<h2>Team Motto: <%= @team_motto %></h2>

<% @team_members.each do |hero|%>
  <h2> Hero Name: <%= hero["name"] %></h2>
  <h2> Hero Power: <%= hero["power"] %></h2>
  <h2> Hero Biography: <%= hero["biography"] %></h2>
<% end %>


